<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserMapper">
	<!--说明：如果每次数据库操作都需要写pojo的包路径，则编码比较繁琐
		优化策略：可以使用别名包代替
	-->
	<select id="findAll" resultType="User">
		select * from jtdb.user
	</select>
</mapper>